
@font-face {
    font-family: 'Outreque';
    src: url('OutrequeRegular.woff2') format('woff2'),
        url('OutrequeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outreque';
    src: url('OutrequeMedium.woff2') format('woff2'),
        url('OutrequeMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pontiff Wide';
    src: url('PontiffWideRegular.woff2') format('woff2'),
        url('PontiffWideRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* @font-face {
	font-family: 'Oswald';
	src: url('Oswald-Medium.eot');
	src: local('☺'), url('fonts/Oswald-Medium.woff') format('woff'), url('fonts/Oswald-Medium.ttf') format('truetype'), url('fonts/Oswald-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
} */

@font-face {
	font-family: 'Oswald';
	src: url('Oswald-Medium.woff2') format('woff2'), url('Oswald-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}



