@font-face {
    font-family: 'Minigap';
    src: url('MinigapRegular.woff2') format('woff2'),
        url('MinigapRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pontiff Wide';
    src: url('PontiffWideRegular.woff2') format('woff2'),
        url('PontiffWideRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

