
@font-face {
    font-family: 'Outreque';
    src: url('OutrequeRegular.woff2') format('woff2'),
        url('OutrequeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outreque';
    src: url('OutrequeMedium.woff2') format('woff2'),
        url('OutrequeMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pontiff Wide';
    src: url('PontiffWideRegular.woff2') format('woff2'),
        url('PontiffWideRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



