body {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white;
}
._container {
	padding-left: 70px;
	padding-right: 70px;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1440px;

	@include max960 {
		padding-left: 4%;
		padding-right: 4%;
	}
	@include max375 {
		padding-left: 20px;
		padding-right: 20px;
	}
}

// .flx-wrap {
// 	display: flex;

// 	@include max860 {
// 		flex-direction: column;
// 	}
// }
// .col {
// 	flex: 0 1 50%;
// }

// .col3 {
// 	flex: 0 1 33.3%;
// }
.img {
	max-width: 100%;
  	height: auto;
  	vertical-align: top;
  	display: inline-block;
}