// Colors

$accentColor: #500AC9;
$btnColor: #FFDB1C;
$mainBgColor: #EEF3F5;
$mainTextColor: #000000;
$footerColor: #1C354D;
$bgColor: white;
$hoverColor: #1C354D;
$textColor: white;
$iconHoverColor:#FFDB1C; 
$burgerColor:#000000;

//Text

$f-fam-base: 'Minigap', sans-serif;
$f-size-base: 18px;
$f-ln-hgh-base: 32px;

// Hover

$hover-trans-dur: 0.6s;